[Unit]
Description=Cvnip Clipboard

[Service]
ExecStartPre=/usr/bin/xhost +SI:localuser:%u
ExecStart=%h/.local/share/cvnip/cvdaemon
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Restart=always

[Install]
WantedBy=default.target